<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a href="/products">About</a>
  <a href="/products">Services</a>
  <a href="/products">Clients</a>
  <a href="/products">Contact</a>
</div>

<div class="header">
  <ul>
    <li style="font-size:15px;cursor:pointer" class="active" (click)="openNav()"><a>&#9776;</a></li>
    <li><a routerLink="/products">Home</a></li>
    <li><a routerLink="/products">Shop</a></li>
    <li><a routerLink="/products">Magzines</a></li>
    <li class="pull-right"><a routerLink="/login">LOGIN</a></li>
    <li class="pull-right"><a><i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="badge">{{cartItems}}</span>
      </a></li>
    <li class="pull-right">
      <div class="searchbar">
        <input class="search_input" type="text" name="search" [(ngModel)]="searchString" placeholder="Search...">
        <a class="search_icon pull-left"><i class="fas fa-search"></i></a>
      </div>
    </li>
  </ul>
</div>